body {
    margin: 0;
}

.game-container {
    display: flex;
    width: 100vh;
    height: 100vh;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;
}

.animation-container {
    display: none;
    justify-content: center;
}

.game-container,
.animation-container {
    width: 100vh;
    height: 100vh;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;
}

.coin-container {
    width: 10%;
    height: 10%;
}

.coin {
    width: 80%;
    height: 80%;
    margin: 10%;
    border-radius: 50%;
    text-align: center;
    font-size: 32px;
    border: 2px solid #666;
}

.coin-text {
    display: flex;
    margin: auto;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 4vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    justify-content: center;
}

.coin-drawn .coin {
    border-color: rgb(170, 9, 9);
    background-color: lightcoral;
}

.coin-drawn .coin-text {
    color: rgb(170, 9, 9);
}

.animation-number {
    font-size: 50vh;
    color: rgb(128, 123, 123);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}